html {
  font-family: "Raleway", Helvetica, sans-serif !important;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font:inherit;
}


body {
  font-family: "Raleway", Helvetica, sans-serif !important;
  margin: 0;
}

header, 
footer, 
section,
figcaption,
container {
    font-family: "Raleway", Helvetica, sans-serif !important;
    display: block;
}

[hidden] {
  display: none;
}

.home h1 {
   font-family: "Raleway", Helvetica, sans-serif;
  font-size: 2em;
  margin: 0.67em 0;
}

* {
  box-sizing: border-box;
  -webkit-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
  font-family: "Raleway", Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
  line-height: 1.5;
  font-family: "Raleway", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.home a {
  font-size: 1em;
  line-height: 1.15;
  color: #fff;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.home h1, .home h2.h3, .home h4, .home h5, .home h6 {
  color: #7A7F82;
  font-weight: bold;
  font-family: "Raleway", Helvetica, sans-serif;
}

.home h1 {
  font-size: 3.5em;
  line-height: 1.05;
}

.home h2 {
  font-size: 1.5em;
  line-height: 1.15;
}

h1 {
  font-family: "Raleway", Helvetica, sans-serif;
}

.home h3 {
  font-size: 1.625em;
  line-height: 1.38;
}

.home h4 {
  font-size: 1.15em;
  line-height: 1.38;
}

.home {
  background-attachment: fixed;
  background-image: url("./Images/home.jpg");
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 1680px) {

			.home .container {
				padding: 6em 0 14em 0;
			}
            .body-content{
                height: 500px;
            }

		}

		@media screen and (max-width: 1280px) {

			.home .container {
				padding: 6em 0 14em 0;
			}

				.home .container h2 {
					font-size: 1.5em;
				}
            .body-content{
                height: 100%;
            }
		}

		@media screen and (max-width: 980px) {

			.home .container {
				padding: 6em 2em 14em 2em;
			}

		}

		@media screen and (max-width: 736px) {

			.home .container {
				padding: 6em 2em 14em 2em;
			}

                .home .container h1 {
					font-size: 3em;
				}

				.home .container h2 {
					font-size: 1.5em;
				}

				.home .container p {
					font-size: 1em;
				}

		}

		@media screen and (max-width: 480px) {

            .home .container {
                padding: 3em 2em 6em 2em;
            }

		}


.home #jumbotron {
  text-align: center;
  color: white;
}

@media (min-width: 12.5em) {
  .home #jumbotron {
    margin-top: 1.15em;
  }
}

@media (min-width: 63em) {
  .home #jumbotron {
    margin-top: 3em;
  }
}

.home #supporting-header {
  text-align: center;
  color: white;
}

@media (min-width: 12.5em) {
  .home #supporting-header {
    margin-top: 0.8em;
  }
}

@media (min-width: 30em) {
  .home #supporting-header {
    margin-top: 0.7em;
  }
}

@media (min-width: 63em) {
  .home #supporting-header {
    margin-top: 1em;
  }
}

.home .btn, .contact-button {
  border: 2px white solid;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
}

.btn {
  border: 2px #7a7f82 solid;
  border-radius: 10px;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: 600;
}

#socialLoginList .btn{
    border: none;
    border-radius: 5px;
}

@media (min-width: 12.5em) {
  .home .btn {
    padding: 1em;
    width: 70%;
  }
}

@media (min-width: 30em) {
  .home .btn {
    width: 40%;
  }
}

@media (min-width: 47.5em) {
  .home .btn {
    padding: 1em 3em;
    width: 30%;
  }
}

@media (min-width: 63em) {
  .home .btn {
    width: 20%;
    margin-top: 3em;
  }
  .home .btn:hover, .contact-button:hover {
    background-color: #fff;
    color: #7a7f82;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

figure {
  margin: 1em 40px;
  display: inline-block;
}

#about-para {
  margin-top: 1em;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (min-width: 12.5em) {
  .flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 63em) {
  .flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.port {
  text-align: center;
  color: #7a7f82;
  margin-bottom: 0.7em;
  font-family: "Raleway", Helvetica, sans-serif;
}

@media (min-width: 12.5em) {
  figure {
    width: 100%;
    padding-right: 5px;
    overflow: hidden;
  }
}

@media (min-width: 30em) {
  figure {
    width: 50%;
  }
}

@media (min-width: 47.5em) {
  figure {
    width: 35%;
  }
}

@media (min-width: 63em) {
  figure {
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 12.5em) {
  img {
    width: 100%;
  }
}

@media (min-width: 63em) {
  img {
    height: 300px;
    width: 300px;
  }
}

.homepage img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.overlay {
  width: 300px;
  height: 0;
  z-index: 99;
  opacity: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.light-grey {
  background-color: #FAFAFA;
  padding-top: 3em;
  padding-bottom: 2em;
}

.grey{
    background-color: #cdcec0;
    padding-top: 2em;
    padding-bottom: 4em;
    font-family: "Raleway", Helvetica, sans-serif;
}

@media (min-width: 12.5em) {
  .contact {
    white-space: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 0.7em;
  }
}

@media (min-width: 47.5em) {
  .contact {
    white-space: nowrap;
  }
}

.contact-button {
    color: white;
  border: 2px white solid;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
}

@media (min-width: 12.5em) {
  .contact-button {
    padding: 1em;
    width: 70%;
    margin-top: 1.5em;
  }
}

@media (min-width: 30em) {
  .contact-button {
    width: 40%;
  }
}

@media (min-width: 47.5em) {
  .contact-button {
    padding: 1em 3em;
    width: 30%;
  }
}

@media (min-width: 63em) {
  .contact-button {
    width: 20%;
    margin-top: 2em;
  }
}

.contact-button:hover {
  background-color: #fff;
  color: #7a7f82;
}