.upload-image .file-upload {
    width: 500px;
    margin-left: 20px;
    margin-bottom: 20px
}

.upload-image .img-title {
    height:40px;
    width: 300px;
    margin-bottom: 10px
}

.upload-image select.upload-by {
    height: 40px;
    margin-left: 10px
}

.upload-image .k-upload {
    margin-bottom: 10px
}

.upload-image p.upload-by {
    margin-bottom: 10px
}

.upload-image .message {
    margin: 20px 0 15px 20px;
    font-size: 18px
}

.page-image-details {
    width: 100%;
    border-top: 1px solid lightgrey;
    padding-bottom: 40px;
}

.image-details {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: white;
}

    .image-details .uploaded-image {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .image-details .image-uploader {
        border-bottom: 1px solid lightgrey;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        font-weight: 600;
    }

        .image-details .image-uploader .uploader-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;          
        }

    .image-details .likes-comments {
        text-align:left;
    }

    .image-details .likes{
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 600;
    }

    .image-details .comment{
        text-align: left;
        padding-left: 10px;
        font-weight: 500;
    }

    .image-details hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .image-details .btn-like{
        margin-left: 10px;
        margin-bottom: 10px;
        border: 0px;
    }