.upload-image .file-upload {
    width: 500px;
    margin-left: 20px;
    margin-bottom: 20px
}

.upload-image .img-title {
    height:40px;
    width: 300px;
    margin-bottom: 10px
}

.upload-image select.upload-by {
    height: 40px;
    margin-left: 10px
}

.upload-image .k-upload {
    margin-bottom: 10px
}

.upload-image p.upload-by {
    margin-bottom: 10px
}

.upload-image .message {
    margin: 20px 0 15px 20px;
    font-size: 18px
}

.posts-page{
    text-align: center;
}

    .posts-page header {
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .posts-page header a{
            color: #333333;
        }

        .posts-page header #ajaxSearchForm{
            display: inline-block;
        }

        .posts-page header .posts-search-input{
            border-radius: 5px;
            height: 30px;
            max-width: 300px;
            width: 250px;
        }

.page-image-details {
    min-height: 500px;
    width: 100%;
    border-top: 1px solid lightgrey;
    padding-bottom: 40px;
}

.image-details {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: white;
}

    .image-details .uploaded-image {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .image-details .image-uploader {
        border-bottom: 1px solid lightgrey;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        font-weight: 600;
    }

        .image-details .image-uploader .uploader-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;          
        }

    .image-details .likes-section {
        text-align:left;
        height: 40px;
    }

    .image-details .likes{
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 600;
        display: inline-block;
    }

    .image-details .comment{
        text-align: left;
        padding-left: 10px;
        font-weight: 500;
    }

    .image-details hr {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .image-details .btn-like{
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 0px;
        border: 0px;
        float:right;
    }

    .image-details .comment-input{
        max-width: 100%;
        width: 90%;
        height: 40px;
        border: 0px;
        padding-left: 5px;
    }

    .image-details .btn-comment{
        border: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 8px 15px 8px 15px;
    }

.post-details .image-details{
    margin-bottom: 20px;
}

.upload-page{
    min-height: 500px;
    padding-top: 20px;
}