body {
}

.profile-pic {
  border-radius: 50%;
  background-color: #333;
  display: inline-block;
  width: 50%;
  height: 270px;
  width: 270px;
  margin-top: 2em;
}

.profile-header {
    margin-left: 18em;
    margin-right: 10em;
}

.profile-header h1 {
    display: inline-block;
    padding-top: 30px;
    margin-bottom: 0px;
}

.profile-options .btn{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #333333;
}

.profile-options a{
    color: #333333;
    text-decoration: none;
}

.profile-options {
    margin-top: 3em;
    margin-left: 4em;
}

.statistics{
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 16px;
    font-weight: 500;
}

.statistics li{
    display: inline;
}

.profile-info{
    margin-left: 4em;
}

.personal-info{
    display: inline-block;
    position: absolute;
}

.container.gallery {
    padding-top: 15px;
}


.gallery-item{
    position: relative;
}

.gallery-item:hover .image-gallery{
    opacity:0.5;
    background-color: Black;
    z-index:10;
}

.image-gallery {
    z-index: 5;
}

.image-stats {
    display: none;
    position:absolute;
    
}

i {
    font-style:normal;
}
    
.gallery-item:hover .image-stats {
    display: block;
    position: absolute;
    top: 130px;
    left: 108px;
    font-size: 23px;
    font-weight: 500;
}

.show-more {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.edit-profile-page{
    min-height: 500px;
}

.show-more-btn {
    padding: 10px 30px;
}

.edit-profile-page {
    padding-top: 30px;
}

.edit-profile-page h4 {
    text-align: center;
}

.userinfo-textarea {
    width: 100%;
    height: 80px;
}