body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 25px;
    padding-left: 25px;
    background-color: #f2f2f2;
    font-family: "Raleway", Helvetica, sans-serif !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo-img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 5px;
    float:left;
}

#footer {
		background-color: #3A3532;
		color: white;
		text-align: center;
        border-top: solid 0px black;
	}

		#footer a {
			color: black;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: black;
		}

		#footer hr {
			border-bottom-color: transparent;
		}

		#footer a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			color: white;
		}

			#footer a:active, #footer a:focus, #footer a:hover {
				color: white;
			}

		#footer .inner {
			padding: 4em 0 2em 0;
			margin: 0 auto;
			width: 75%;
		}

		#footer ul.icons li {
			padding-right: 2.5em;
		}

			#footer ul.icons li:last-child {
				padding-right: 0;
			}

		#footer .copyright {
			color: #a5a9ad;
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
			text-transform: uppercase;
		}

			#footer .copyright li {
				display: inline-block;
				list-style: none;
				margin: 0 0.1em;
			}

		@media screen and (max-width: 980px) {

			#footer .inner {
				padding: 5em 0 3em 0;
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			#footer .inner {
				padding: 3em 0 1em 0;
			}

			#footer .copyright li {
				display: block;
				margin: 0;
			}

			#footer ul.icons li {
				font-size: 0.9em;
			}

		}

		@media screen and (max-width: 480px) {

			#footer .inner {
				padding: 2em 0 0.1em 0;
			}

		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

        ul {
		list-style: disc;
		margin: 0 0 2em 0;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt > li {
				border-top-style: solid;
				border-top-width: 1px;
				padding: 0.5em 0;
			}

				ul.alt > li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons > li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons > li:last-child {
					padding-right: 0;
				}

				ul.icons > li .icon:before {
					font-size: 2em;
				}
