@model Wanderlust.WebClient.Models.ImageCommentViewModel
@{
    ViewBag.Title = "CommentImage";
}

<div class="comment">
    <strong>@Model.Author  </strong><span class="comment-content"> @Model.Content </span>
</div>
