@model Wanderlust.WebClient.Models.LikeImageViewModel
@{
    ViewBag.Title = "LikeImage";
}

<div class="likes-section" id="@Model.ImageToLikeId">
    <div class="likes">@Model.LikesCount likes</div>
    @if (Model.AlreadyLikedImages.Contains(Model.ImageToLikeId))
    {
        <button class="btn btn-like" name="likeImg" value="Dislike"><i class="icon fa-heart"> Unlike</i></button>
    }
    else
    {
        <button class="btn btn-like" name="likeImg" value="Like"><i class="icon fa-heart-o"> Like</i></button>
    }
</div>



     

  

