@model Wanderlust.WebClient.Models.LikeImageModelView
@{
    ViewBag.Title = "LikeImage";
}

<div class="likes-section" id="@Model.ImageToLike.Id">
    <div class="likes">@Model.ImageToLike.LikesCount likes</div>
    @if (Model.AlreadyLikedImages.Contains(Model.ImageToLike))
    {
        <button class="btn btn-like" name="likeImg" value="Dislike"><i class="icon fa-heart"> Unlike</i></button>
    }
    else
    {
        <button class="btn btn-like" name="likeImg" value="Like"><i class="icon fa-heart-o"> Like</i></button>
    }
</div>



     

  

