@model Wanderlust.WebClient.Models.CommentImageModelView
@{
    ViewBag.Title = "CommentImage";
}

<div class="comment">
    <strong>@Model.CommentAuthor  </strong><span class="comment-content"> @Model.CommentContent </span>
</div>
