@model Wanderlust.WebClient.Models.PostsViewModel
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="posts-page">
    <header>
        <div>
            @using (Ajax.BeginForm("FilteredImages", new { },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "imagesPanel",
                            InsertionMode = InsertionMode.Replace,
                        }, new { id = "ajaxSearchForm" }))
            {
                <input type="text" class="posts-search-input" name="searchTerm" placeholder="Search by uploader.." onkeyup="OnKeyUp()" />
            }
            @Html.ActionLink("Upload Image", "UserUploadImage", "Upload", new { area = "" }, new { @class = "btn btn-default btn-upload" })
        </div>      
    </header>  
    @Html.DisplayFor(Model => Model, "PostsViewModel")
</div>

<script>
    function OnSuccess() {
        $('.comment-input').val('');
    }

    function OnKeyUp() {
        var value = $('[name="searchTerm"]').val();
        if (value.length > 0) {        
            $('#ajaxSearchForm').submit();
        }       
    }
</script>

