@model IEnumerable<Wanderlust.WebClient.Models.ImageViewModel>

<div id="gallery" class="flex">
    @foreach (var image in Model)
        {
            <figure class="gallery-item">
                <figcaption class="overlay"></figcaption><a href="/post/@image.Id" target="_blank"><img src="@image.ImgUrl" class="image-gallery" alt=""></a>
                <div class="image-stats"><i class="icon fa-heart"> @image.LikesCount</i> <i class="icon fa-comment"> @image.CommentsCount</i></div>
            </figure>
        }
</div>

