@model Wanderlust.WebClient.Models.TravellersViewModel

<section class="page-image-details body-content" id="travellersPanel">
    <div>
        @foreach (var user in Model.Travellers)
            {
            <div class="traveller-details">
                <h2>@user.UserName</h2>
                <div class="traveller">
                    <img src="@user.AvatarUrl" class="avatar" />
                </div>
                @if (Model.UserIsAuthenticated)
                {
                    using (Ajax.BeginForm("FollowOrUnfollowTraveller", "Travellers",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = user.Id.ToString(),
                                    InsertionMode = InsertionMode.Replace
                                }))
                    {
                        <input type="hidden" value="@user.Id" name="travellerId" />
                            <div class="follow-section" id="@user.Id">
                                @if (user.Followers.Contains(Model.LoggedUserId))
                                {
                                    <button class="btn btn-follow" name="follow" value="Unfollow"><i class="icon fa-heart"> Unfollow</i></button>
                                }
                                else
                                {
                                    <button class="btn btn-follow" name="follow" value="Follow"><i class="icon fa-heart-o"> Follow</i></button>
                                }
                            </div>
                    }
                }
            </div>
        }
    </div>
</section>





