@model Wanderlust.WebClient.Models.TravellersViewModel
@{
    ViewBag.Title = "Travellers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="travellers-page">
    <header>
        <div>
            @using (Ajax.BeginForm("FilteredTravellers", new { },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "travellersPanel",
                            InsertionMode = InsertionMode.Replace,
                        }, new { id = "ajaxSearchForm" }))
            {
                <input type="text" class="travellers-search-input" name="searchTerm" placeholder="Search by username.." onkeyup="OnKeyUp()" />
            }
        </div>
    </header>
    @Html.DisplayFor(Model => Model, "TravellersViewModel")
</div>

<script>
    function OnKeyUp() {
            $('#ajaxSearchForm').submit();
    }
</script>