
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.silver.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.silver.min.css" rel="stylesheet" type="text/css" />
}

<div class="row edit-profile-page">
    <div class="col-md-6">
        <section>
            <h4>Upload new profile picture</h4>
            <hr />
            @using (Html.BeginForm("UpdateUserAvatarUrl", "Upload", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
                <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jszip.min.js"></script>
                <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
                <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.aspnetmvc.min.js"></script>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="upload-image">
                        <div class="file-upload k-content upload">
                            <p class="upload-by">
                                Upload by:
                                <select name="upload-by" id="upload-by" class="upload-by">
                                    <option selected="selected" value="file">File</option>
                                    <option value="url">Url</option>
                                </select>
                            </p>
                            <input name="imgUrl" hidden="hidden" id="ImageUrl" type="text" class="img-title" placeholder="Image url..." />
                            @using Kendo.Mvc.UI
                            @(Html.Kendo().Upload()
                            .Name("file-upload-image")
                            .Async(a => a
                                .Save("UploadProfilePic", "Upload")
                                .AutoUpload(true)
                            )
                            .Validation(v => v.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png" }))
                            .Validation(v => v.MaxFileSize(5 * 1024 * 1024))
                            .Multiple(false)
                            .Events(e => e
                                .Upload("onUpload")
                                .Success("onAvatarUploadSuccess")
                                .Error("onAvatarUploadError")
                            ))
                            <input type="submit" id="Submit" class="btn btn-default" value="Upload" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-6">
        <section id="socialLoginForm">
            <h4>Change profile description</h4>
                <hr />
                @using (Html.BeginForm("UpdateUserInfo", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <textarea name="userInfo"></textarea>
                    <input type="submit" id="Submit" class="btn btn-default" value="Update" />
                }
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/my-scripts/user-upload-image.js"></script>
}

